<h1 class="ui header center aligned">Angular ToDo App</h1>
<nav class="ui secondary pointing menu">
  <app-filter-button
    (click)="filter.category = 'all'"
    [toggleActive]="filter.category === 'all'"
    >All</app-filter-button
  >
  <app-filter-button
    (click)="filter.category = 'important'"
    [toggleActive]="filter.category === 'important'"
    >Important</app-filter-button
  >
  <app-filter-button
    (click)="filter.category = 'pending'"
    [toggleActive]="filter.category === 'pending'"
    >Pending</app-filter-button
  >
  <app-filter-button
    (click)="filter.category = 'complete'"
    [toggleActive]="filter.category === 'complete'"
    >Complete</app-filter-button
  >
</nav>
